 @{ ViewData["Title"] = "User Login Page"; }

<head>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
    />

    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<div class="navbar navbar-inverse container">
    <div class="container">
        <div class="navbar-header col-md-8">

            <img asp-controller="Home" asp-action="Index" class="navbar-left" src="\images\Lorem_Ipsum.svg" alt="logo">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                Lorem Ipsom Corp</a> </div>
        <ul class="nav navbar-nav">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            @{ if ( ViewBag.loginState=="true") {
            <li><a asp-controller="Login" asp-action="Logout">Logout</a></li>
            } else {
            <li><a asp-controller="Login" asp-action="LogRegPage">Login</a></li>
            } }
        </ul>
    </div>
</div>
@{ if(ViewBag.Errors!=null){ }
<div class="container">
    <div class="text-danger">
        <ul>
            @foreach (string error in ViewBag.Errors){
            <li>@error</li>
            }
        </ul>

    </div>
</div>
}

<div class="container" id="main">
    <div class="framed col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center"> Please Login or Register Below </h3>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center"> Existing User Login </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-4 text-center">
                <form class="login" action="login" method="post">
                    <span class="offset">
                Username
                </span>
                    <br>
                    <input type="text" name="username" class="text-center inputbox" placeholder="Username">
            </div>
            <div class="col-md-4 text-center">
                <span class="offset">
                Password
                </span>
                <br>
                <input type="password" name="password" class="text-center inputbox" placeholder="Password">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-2">
                <button type="submit">Log In</button>

            </div>
        </div>
        </form>
    </div>
</div>

<div class="container top-buffer">
    <div class="framed col-md-6">


        <div class="row">

            <div class="col-md-12">
                <h4 class="text-center"> New User Register </h4>
            </div>
        </div>
        <div class="row">
            <form class="register" action="register" method="post">
                <div class="col-md-4 text-center">
                    <span class="offset">
                Username
                </span>
                    <input type="text" name="username" class="text-center inputbox" placeholder="Username">
                </div>
                <div class="col-md-4 text-center">
                    <span class="offset">
                Password
                </span>
                    <input type="password" name="password" class="text-center inputbox" placeholder="Password" value="password">
                </div>
                <div class="col-md-4 text-center">
                    <span class="offset">
                Confirm Password
                </span>
                    <input type="password" name="confirmPassword" class="text-center inputbox" placeholder="Confirm Password">
                </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-2">

            </div>
            <div class="col-md-4 text-center">
                <span class="offset">
                E-mail
                </span>
                <input type="text" name="email" class="text-lowercase text-center inputbox" placeholder="E-mail">
            </div>
            <div class="col-md-4 text-center bdate">
                <span class="offset">
                Birthday
                </span>
                <input type="date" name="birthday" class="text-center bdateinput" placeholder="Birthday">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-4 text-center">
                <span class="offset">
                First Name
                </span>
                <input type="text" name="first_name" class="text-center inputbox" placeholder="First Name">
            </div>
            <div class="col-md-4 text-center">
                <span class="offset">
                Last Name
                </span>
                <input type="text" name="last_name" class="text-center inputbox" placeholder="Last Name">
            </div>
            <div class="col-md-4 text-center">
                <span class="offset">
                Favorite Color
                </span>
                <input type="text" name="favoriteColor" class="text-center inputbox" placeholder="Favorite Color">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-2">
                <button type="submit">Register</button>

            </div>
        </div>
        </form>
    </div>
</div>
</div>