 @{ ViewData["Title"] = "Main Landing Page"; }
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
    />

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <img asp-controller="Home" asp-action="Index" class="navbar-left" src="\images\Lorem_Ipsum.svg" alt="logo">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                Lorem Ipsom Corp</a> </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Login">Contact</a></li>
                @{ if (ViewBag.loginState=="true") {
                <li><a asp-controller="Login" asp-action="Logout">Logout</a></li>
                } else {
                <li><a asp-controller="Login" asp-action="LogRegPage">Login</a></li>
                } }
            </ul>
        </div>
    </div>
</div>
<br>

<br>@ViewBag.loginState
<br> @{ if(ViewBag.loginState=="true") {
<br>
<p>Congratulations. You are logged in, @ViewBag.User.username ! </p> } else {
<br>
<p>You are not logged in, please click login.</p>
}}