/* Customize the navbar links to be fill the entire space of the .navbar */


/*.container {
    width: 800px;
}

body {
    width: 800px;
}*/

.navbar img {
    height: 60px;
}

#main {
    margin: 60px 0px 0px 0px;
}

.top-buffer {
    margin-top: 20px;
}

.framed {
    border-radius: 5px;
    border: 3px solid darkblue;
    padding: 5px 10px 20px 10px;
    margin: 10px;
}

.bdate {
    width: 33%;
    /*text-indent: 2%;*/
}

.bdateinput {
    width: 100%;
    text-indent: 5%;
}

.offset {
    margin-left: 4px;
}

.inputbox {
    max-width: 100%;
}